body {

    background-color: black;
    
}

.styling {

    text-align: center ;

    text-transform: capitalize ;

    color: white ;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.list1 {

    text-align: center ;
    list-style: inside ;
}

.list2 {

    text-align: center ;
    list-style-position: inside ;
}